---
layout: layouts/base.njk
title: Title Strings
---

{%- for snippet in collections.snippet -%}
    {%import "./_includes/components/snippet-box.njk" as snippetBox %}
    {{ snippetBox.box(snippet.templateContent | safe, snippet.data.title, snippet.data.desc) }}
{%- endfor -%}